**.o
**~
**.a
**.so.*
**.lo
**.la
picsp
parsedump.txt
**.sublime*
**.h5
gmon.out
**local.ini
src/main.local.c
ut
tags
**.vtk
local.mk
**.jpg
**.mp4
**.pyc
**.txt
**.nfs*
**.eps
**.png
*.html
src/version.h
**.swp
.DS_Store
*.sh
