**.o
**~
**.a
**.so.*
**.lo
**.la
picsp
parsedump.txt
**.sublime*
**.h5
gmon.out
**local.ini
src/main.local.c
output
ut
tags
**.vtk
local.mk
**.jpg
**.mp4
**.pyc
**.txt
**.nfs*
**.eps
*.html
**version.h
**/src/version.h
